{% extends 'base/menu.html' %}

{% block options %}
<!-- Opciones del Menú -->
<li class="nav-item">
  <a id="m_organizacion" class="nav-link" href="#navbar-dashboards" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-dashboards">
    <i class="fas fa-sitemap text-primary"></i>
    <!-- <i class="fas fa-project-diagram"></i> -->
    <span class="nav-link-text">Organización Ppto.</span>
  </a>
  <div class="collapse" id="navbar-dashboards">
    <ul class="nav nav-sm flex-column">

      {% if perms.formulacion.view_departamento %}
      <li class="nav-item">
        <a href="{% url 'formulacion:unidades_ejecutoras' %}" class="nav-link" id="m_unidades_ejecutoras"> 
          <span class="sidenav-mini-icon"> UE </span>
          <span class="sidenav-normal"> Unidades Ejecutoras </span>
        </a>
      </li>
      {% endif %}
      
      {% if perms.formulacion.view_unidadejecutora %}
      <li class="nav-item">
        <a href="{% url 'formulacion:departamentos' %}" class="nav-link" id="m_despartamentos">
          <span class="sidenav-mini-icon"> DP </span>
          <span class="sidenav-normal"> Departamentos </span>
        </a>
      </li>
      {% endif %}

      {% if perms.formulacion.view_centrocosto %}
      <li class="nav-item">
        <a href="{% url 'formulacion:centros_costos' %}" class="nav-link" id="m_centros_costos">
          <span class="sidenav-mini-icon"> CC </span>
          <span class="sidenav-normal"> Centros Costos </span>
        </a>
      </li>
      {% endif %}

      {% if perms.formulacion.view_partida %}
      <li class="nav-item">
        <a href="{% url 'formulacion:partidas' %}" class="nav-link" id="m_partidas">
          <span class="sidenav-mini-icon"> PT </span>
          <span class="sidenav-normal"> Partidas </span>
        </a>
      </li>
      {% endif %}
           
    </ul>
  </div>
</li>
<li class="nav-item">
  <a id="m_cargaLey" class="nav-link" href="#navbar-dashboards2" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-dashboards2">
    <i class="fas fa-balance-scale text-primary"></i>
    <!-- <i class="fas fa-gavel text-primary"></i> -->
    <span class="nav-link-text">Ley de Presupuesto</span>
  </a>
  <div class="collapse" id="navbar-dashboards2">
    <ul class="nav nav-sm flex-column">
      {% if perms.formulacion.view_ejerciciopresupuestario %}
      <li class="nav-item">
        <a href="{% url 'formulacion:ejercicios_presupuestarios' %}" class="nav-link" id="m_partidas_acc_internas">
          <span class="sidenav-mini-icon"> EJR </span>
          <span class="sidenav-normal"> Ejercicio Presupuestario</span>
        </a>
      </li>
      {% endif %}
      
      {% if perms.formulacion.view_programa %}
      <li class="nav-item">
        <a href="{% url 'formulacion:programas' %}" class="nav-link"  id="m_programas">
          <span class="sidenav-mini-icon"> CP </span>
          <span class="sidenav-normal"> Categorías Programáticas </span>
        </a>
      </li>
      {% endif %}

      {% if perms.formulacion.view_accionespecifica %}
      <li class="nav-item">
        <a href="{% url 'formulacion:acciones_especificas' %}" class="nav-link" id="m_acc_especificas">
          <span class="sidenav-mini-icon"> AE </span>
          <span class="sidenav-normal"> Acciones Especificas </span>
        </a>
      </li>
      {% endif %}

      <!-- {% if perms.formulacion.view_estimacion %}
      <li class="nav-item">
        <a href="{% url 'formulacion:estimacion' %}" class="nav-link" id="m_estimaciones">
          <span class="sidenav-mini-icon"> E </span>
          <span class="sidenav-normal"> Estimaciones </span>
        </a>
      </li>
      {% endif %} -->

      {% if perms.formulacion.view_accioninterna %}
      <li class="nav-item">
        <a href="{% url 'formulacion:acciones_internas' %}" class="nav-link" id="m_acc_internas">
          <span class="sidenav-mini-icon"> AI </span>
          <span class="sidenav-normal"> Acciones Internas </span>
        </a>
      </li>
      {% endif %}

      <!-- {% if perms.formulacion.view_partidaaccioninterna %}
      <li class="nav-item">
        <a href="{% url 'formulacion:partida_accion_interna' %}" class="nav-link" id="m_partidas_acc_internas">
          <span class="sidenav-mini-icon"> PAI </span>
          <span class="sidenav-normal"> Partidas Acc. Internas </span>
        </a>
      </li>
      {% endif %} -->

    </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="#navbar-examples" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-examples">
    <i class="fas fa-hand-holding-usd text-primary"></i>
    <span class="nav-link-text">Ingresos</span>
  </a>
  <div class="collapse" id="navbar-examples">
    <ul class="nav nav-sm flex-column">
      {% if perms.formulacion.view_partida %}
      <li class="nav-item">
        <a href="{% url 'formulacion:partidas' %}" class="nav-link" id="m_partidas">
          <span class="sidenav-mini-icon"> CG </span>
          <span class="sidenav-normal"> Carga </span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</li>

<li class="nav-item">
  <a id="m_reportes" class="nav-link" href="#navbar-tables" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-tables">
    <i class="far fa-file text-primary"></i>
    <span class="nav-link-text">Reportes</span>
  </a>
  <div class="collapse" id="navbar-tables">
    <ul class="nav nav-sm flex-column">
      <li class="nav-item">
        <a data-toggle="modal" data-target="#creditos-presupuestarios-asig" href="#" class="nav-link" id="m_r_formulacion">
          <span class="sidenav-mini-icon"> CPA </span>
          <span class="sidenav-normal"> Creditos Pre Asig </span>
        </a>
      </li>  
      <li class="nav-item">
        <a data-toggle="modal" data-target="#creditos-presupuestarios-asig" href="#" class="nav-link" id="m_r_formulacion">
          <span class="sidenav-mini-icon"> CPA </span>
          <span class="sidenav-normal"> Programas </span>
        </a>
      </li>  
      <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link" href="#navbar-tables2" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-tables2">
              <span class="sidenav-mini-icon"> F </span>
              <span class="sidenav-normal"> Formatos </span>
            </a>
            <div class="collapse" id="navbar-tables2">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a data-toggle="modal" data-target="#creditos-presupuestarios-asig" href="#" class="nav-link pl-4" id="m_r_formulacion">
                    <span class="sidenav-mini-icon"> PI </span>
                    <span class="sidenav-normal"> Presupuesto de Ingresos </span>
                  </a>
                </li>
                 
              </ul>
            </div>
          </li>
      </li>            
    </ul>
  </div>
</li>
<hr class="my-4">
{% endblock options %}
