{% extends 'base/base.html' %}

{% load static %}

{% block title %}
  Centros de Costos
{% endblock title %}

{% block menu %}
  {% include 'formulacion/menu.html' %}  
{% endblock menu %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'formulacion:principal' %}">Formulación</a></li>
  <li class="breadcrumb-item"><a href="#">Centros de Costos</a></li>
{% endblock breadcrumb %}

{% block body %}
<div class="row">
  <!-- Light table -->
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col-6">
            <h3 class="mb-0">Centros de Costos</h3>
          </div>
          <div class="col-6 text-right">
            <a id="btn_partidaNew" href="{% url 'formulacion:c_centro_costo' %}" class="btn btn-sm btn-primary">
              Nuevo
            </a>
          </div>
        </div>
      </div>
      <!-- Light table -->
      <div class="table-responsive" id="tablaPartidas">
        <table class="table align-items-center" > <!-- table-bordered -->
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort text-center" style="width: 5%;" data-sort="nivel">Nivel</th>
              <th scope="col" class="sort text-center" style="width: 20%;" data-sort="cuenta">Código</th>
              <th scope="col" class="sort text-center" style="width: 45%;" data-sort="descripcion">Nombre</th>
              <th scope="col" class="text-center" style="width: 5%;" ><i class="fas fa-cogs"></i></th>
            </tr>
          </thead>
          <tbody>
            {% for ccosto in page_obj %}
              <tr>
                <td scope="row" class="nivel text-center">
                  {{ ccosto.nivel }}
                </td>
                <td class="cuenta text-center">
                  {{ ccosto.codigo }}
                </td>
                <th scope="row" class="nombre text-center">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <a href="{% url 'formulacion:v_centro_costo' ccosto.id %}">
                        <span class="name mb-0 text-sm">{{ ccosto.nombre }}</span>
                      </a>
                    </div>
                  </div>
                </th>
                <td class="text-right">
                  <a href="{% url 'formulacion:e_centro_costo' ccosto.id %}" class="btn btn-sm btn-default">
                    Eliminar
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Card footer -->
      {% include 'base/_paginador.html' %}
    </div>
  </div>
</div>
{% endblock body %}

{% block script %}

{% endblock script %}