{% extends 'base/base.html' %}

{% load static %}

{% block menu %}
  {% include 'formulacion/menu.html' %}  
{% endblock menu %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'formulacion:principal' %}"><i class="fas fa-home"></i></a></li>
  <li class="breadcrumb-item"><a href="{% url 'formulacion:partidas' %}">Lista de Partidas</i></a></li>
  <li class="breadcrumb-item"><a href="#">Creación de Partida</i></a></li>
{% endblock breadcrumb %}

{% block body %}
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Creación Cuenta Presupuestaria</h3>
        </div>
        <div class="col-4 text-right">
          <a href="#!" class="btn btn-sm btn-primary">Guardar</a>
          <a href="#!" class="btn btn-sm btn-default">Cancelar</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form>
        <h6 class="heading-small text-muted mb-4">Crear Partida Presupuestaria</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="id_codigo_uno">Partida</label>
                  <select class="form-control selectsPartidas" id="id_codigo_uno" step="0">
                    <option class="form-control">-------</option>
                    {% for partida in partidas %}
                      <option class="form-control" value="{{ partida.id }}">
                        {{ partida.option }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="id_codigo_dos">Ramo</label>
                    <select class="form-control selectsPartidas" id="id_codigo_dos" step="1">
                      <option class="form-control">-------</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="id_codigo_tres">General</label>
                    <select class="form-control selectsPartidas" id="id_codigo_tres" step="2">
                      <option class="form-control">-------</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="id_codigo_cuatro">Especifico</label>
                    <select class="form-control selectsPartidas" id="id_codigo_cuatro" step="3">
                      <option class="form-control">-------</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="id_codigo_cinco">Sub Especifico</label>
                    <select class="form-control selectsPartidas" id="id_codigo_cinco" step="4">
                      <option class="form-control">-------</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="id_codigo_seis">Auxiliar</label>
                  <input type="text" id="id_codigo_seis" class="form-control" maxlength="3" placeholder="Aux">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label" for="id_cuenta">Visualización de Partida Completa</label>
                <input type="text" id="id_cuenta" name="cuenta" readonly="" class="form-control">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label" for="id_saldo">Saldo de la Partida</label>
                <input type="text" name="saldo" placeholder="Ingresar Saldo" class="form-control" required="" id="id_saldo">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-control-label" for="id_descripcion">{{ form.descripcion.label }}</label>
                <textarea type="text" id="id_descripcion" name="descripcion" class="form-control" placeholder="Añada Descripcion de la Partida">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock body %}

{% block script %}
  <script type="module">

    import { postQuery, inputCurrency } from "{% static 'global/js/helpers.js' %}";

    let url = "{% url 'formulacion:crear_partida' %}";
    
    let token = "{{ csrf_token }}";


    function resetSelectById(select){
      $("#" + select).empty();
      $("#" + select).html($('<option/>', {text:'------', value:''}));
    }

    function main(response, params){

      let parseResponse = JSON.parse(response.partidas_hijas);

      let id = params.id;
      let step = parseInt(params.step);

      let currentSelect = $(`select[step=${step}]`);
      let nextSelect = $(`select[step=${step + 1}]`);

      let inicio, fin;

      // Definiendo que parte mostrar de la cuenta
      switch (id){
        case 'id_codigo_uno':
          inicio=1; fin=3;
          break;
        case 'id_codigo_dos':
          inicio=3; fin=5;              
          break;
        case 'id_codigo_tres':
          inicio=5; fin=7;              
          break;          
        case 'id_codigo_cuatro':
          inicio=7; fin=9;              
          break;          
        default:
          inicio=1; fin=3;
      }

      // Reseteando todos los selects mayores al actual.
      $('.selectsPartidas').filter(`:gt(${step})`).each(function(){
        resetSelectById($(this).attr("id"));
      });

      // Desabilitando primera opcion del select
      $('#' + currentSelect.attr("id") + ' option')[0].disabled = true;

      // Mostrando todos los nuevos options
      parseResponse.forEach(function(object){

        nextSelect.append(
          $('<option />', 
          {
            text: object['fields'].cuenta.slice(inicio, fin),
            value: object['pk'],
          }
        ));

      });

      // Añadiendo cuenta completa
      $("#id_cuenta").val(response.partida_madre.cuenta);
        
    }


    $(document).ready(function(){

      inputCurrency("#id_saldo");

      //<Disparadores Principales>

      $('.selectsPartidas').on('change', function() {

        let id = $(this).attr("id");
        let step = $(this).attr("step");
        let pk = $(this).val();

        data = postQuery(url, token, pk, main, {"id": id, "step": step});

      });

      $('#id_codigo_seis').on('change', function() {
        
        if ($('#id_codigo_cinco').val()){
          
          let sinAux = $("#id_cuenta").val().slice(0, 9);
          $("#id_cuenta").val(sinAux + $(this).val());

        }

      });

    });

  </script>
{% endblock script %}