{% extends 'formulacion/_base.html' %}

{% load widget_tweaks %}

{% block head %}
  <style type="text/css">
    .form-control[readonly] {
      background-color: white!important;
    }
  </style>
{% endblock head %}


{% block title %}
  {% if form.initial %}
    Accion Interna - {{form.instance.codigo}}
  {% else %}
    Creación de Accion Interna
  {% endif %}
{% endblock title %}

{% block right_buttons %}
  {% if form.initial %} 
    {% if form.instance.estimaciones.get_queryset %}
      <a href="{% url 'formulacion:partida_accion_interna' %}?accion_interna={{form.instance.id}}"
      class="btn btn-sm btn-neutral">
      Partidas Relacionadas
      </a>
    {% else %}
      <a href="{% url 'formulacion:partida_accion_interna' %}" class="btn btn-sm btn-neutral">
        Relacionar Partidas
      </a>
    {% endif %}
  {% endif %}
{% endblock right_buttons %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{% url 'formulacion:principal' %}">
    Formulación
  </a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'formulacion:acciones_internas' %}">
      Acciones Internas
    </a>
  </li>
  {% if form.initial %}
    <li class="breadcrumb-item"><a href="#">{{form.instance.codigo}}</a></li>
  {% else %}
    <li class="breadcrumb-item"><a href="#">Creación de Acción Interna</a></li>
  {% endif %}
{% endblock breadcrumb %}


{% block body %}
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-8">
          {% if form.initial %}
            <h3 class="mb-0">Acción Interna: {{form.instance.codigo}}</h3>
          {% else %}
            <h3 class="mb-0">Crear Nuevo Acción Interna</h3>
          {% endif %}
        </div>
        <div class="col-4 text-right">
          <a href="#" class="btn btn-sm btn-primary" id="saveForm">
            Guardar
          </a>
          <button onclick="goBack();" class="btn btn-sm btn-default">
            Cancelar
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h6 class="heading-small text-muted mb-4">Detalles</h6>
      <div class="pl-lg-4">
        {% include 'base/_form_error.html' %}
        <div class="row">
        </div>
        <form method="POST" action="." id="form">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Acción Especifica</label>
                {% render_field form.accion_especifica data-toggle="select" class="form-control" %}
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Tipo de Gasto</label>
                {% render_field form.tipo_gasto data-toggle="select" class="form-control" data-minimum-results-for-search="Infinity" %}
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Tipo de Organismo</label>
                {% render_field form.tipo_organismo data-toggle="select" class="form-control" data-minimum-results-for-search="Infinity" %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Fuente de Financiamiento</label>
                {% render_field form.fuente_financiamiento data-toggle="select" class="form-control" %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Descripción</label>
                {% render_field form.descripcion class="form-control" rows="5" placeholder="Ingrese Descripción..." %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="form-check">
                  {% render_field form.transferencia class="form-check-input" %}
                  <label class="form-check-label form-control-label" for="id_transferencia">
                    Es Transferencia
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock body %}

{% block script %}
    <script type="text/javascript">
        $('#saveForm').on('click', function() {
            $("#form").submit();
        });
    </script>
{% endblock script %}