{% extends 'base/steps.html' %}

{% load widget_tweaks %}

{% block menu %}
  {% include 'formulacion/menu.html' %}  
{% endblock menu %}

{% block title %}
  Creación de Programa
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'formulacion:principal' %}"><i class="fas fa-home"></i></a>
  </li>
  <li class="breadcrumb-item"><a href="#">Lista de Programas</i></a></li>
  <li class="breadcrumb-item"><a href="#">Creación de Programa</i></a></li>
{% endblock breadcrumb %}

{% block title_card %}Creación de Programa{% endblock title_card %}

{% block stepwizard %}
<div class="stepwizard-step">
    <a href="#step-1" type="button" class="btn btn-default btn-circle">
        <i class="fas fa-mouse-pointer"></i>
    </a>
    <p>Información Basica</p>
</div>
<div class="stepwizard-step">
    <a href="#step-2" type="button" class="btn btn-default btn-circle disabled" disabled="disabled">
        <i class="fas fa-user"></i>
    </a>
    <p>Objetivos</p>
</div>
{% endblock stepwizard %}

{% block stepform %}
<div class="setup-content" id="step-1">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="control-label">Codigo</label>
          {% render_field form.codigo class="form-control" placeholder="Ingrese Codigo" %}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="control-label">Nivel</label>
          {% render_field form.nivel class="form-control" placeholder="Ingrese Nivel" %}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="control-label">Año</label>
          {% render_field form.anio class="form-control" placeholder="Ingrese Año" %}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="control-label">Condición</label>
          {% render_field form.condicion class="form-control" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="control-label">Inicio del Proyecto</label>
          {% render_field form.inicio class="form-control" placeholder="Ingrese Fecha de Inicio" %}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="control-label">Fin del Proyecto</label>
          {% render_field form.fin class="form-control" placeholder="Ingrese Fecha Final" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="control-label">Seleccione Periodo</label>
          {% render_field form.periodo_actualizacion class="form-control" %}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="control-label">Seleccione Sector</label>
          {% render_field form.sector_desarrollador class="form-control" %}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="control-label">Seleccione Departamento Responsable</label>
          {% render_field form.responsable class="form-control" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="form-group">
            <button class="btn btn-primary nextBtn" type="button">
              Siguiente
            </button>
          </div>
      </div>
    </div>
</div>

<div class="setup-content" id="step-2">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="control-label">Codigo</label>
          {% render_field form.codigo class="form-control" placeholder="Ingrese Codigo" %}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="control-label">Nivel</label>
          {% render_field form.nivel class="form-control" placeholder="Ingrese Nivel" %}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="control-label">Año</label>
          {% render_field form.anio class="form-control" placeholder="Ingrese Año" %}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="control-label">Condición</label>
          {% render_field form.condicion class="form-control" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="control-label">Inicio del Proyecto</label>
          {% render_field form.inicio class="form-control" placeholder="Ingrese Fecha de Inicio" %}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="control-label">Fin del Proyecto</label>
          {% render_field form.fin class="form-control" placeholder="Ingrese Fecha Final" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="form-group">
            <button class="btn btn-primary nextBtn" type="button">
              Siguiente
            </button>
          </div>
      </div>
    </div>
</div>
{% endblock stepform %}