{% extends 'formulacion/_base.html' %}

{% load static %}



{% block title %} Estimación {% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="#">Estimación</i></a></li>
{% endblock breadcrumb %}

{% block body %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Crear Relación</h3>
            </div>
            <div class="col text-right">
              <a href="#" class="btn btn-sm btn-primary" id="queryButton" url="{% url 'formulacion:estimacion' %}" token="{{ csrf_token }}" callback="true">
                Crear
              </a>
              <a href="{% url 'formulacion:partidas' %}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="heading-small text-muted mb-4">Crear Estimación</h6>
          <div class="pl-lg-4">
            <div class="row">
            </div>
            <form method="POST" action="." id="form">
              {% csrf_token %}
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label" for="id_cuenta">Accion Especifica</label>
                    <select class="form-control queryInput" data-toggle="select" id="id_accion_especifica" 
                    name="accion_especifica">
                      <option>--------------------</option>
                      {% for accion in acciones %}
                        <option value="{{accion.id}}">{{accion.codigo}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label" for="id_cuenta">Seleccione Partida</label>
                    <select class="form-control queryInput" data-toggle="select" id="id_partida" name="partida">
                      <option>--------------------</option>
                      {% for partida in partidas %}
                        <option value="{{partida.id}}">{{partida.cuenta}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label" for="id_anio">Año</label>
                    <input type="text" id="id_anio" maxlength="4" name="anio"
                    class="form-control queryInput" placeholder="Ingrese Año...">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label" for="id_monto">Monto</label>
                    <input type="text" placeholder="Ingrese Saldo" class="form-control inputCurrency queryInputCurrency" name="monto" id="id_monto">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header border-0">
          <h3 class="mb-0">Relaciones Concretadas</h3>
        </div><!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Acción Esp</th>
                <th scope="col">Partida</th>
                <th scope="col">Año</th>
                <th scope="col">Monto</th>
              </tr>
            </thead>
            <tbody class="list">
              <tr id="ninguna">
                <th colspan="4">
                  Ninguna Relación Creada...
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
{% endblock body %}

{% block script %}
  <script type="text/javascript">
    // HTML Objects
    $("#id_anio").datepicker({
      format: "yyyy",
      viewMode: "years", 
      minViewMode: "years"
    });
  </script>

  <script>
    var flag = true;
    function callbackFunction(response){
      if(flag){
        $('#ninguna').hide();
        flag = false;
      }

      let est = response.estimacion;
      $('table > tbody:last-child').append(`
        <tr>
          <th>${est.codigo_accion}</th>
          <th>${est.codigo_partida}</th>
          <td>${est.anio}</td>
          <td>${textToCurrency(est.monto)}</td>
        </tr>
      `);
    }
  </script>
{% endblock script %}