{% extends 'formulacion/_base.html' %}

{% load static %}

{% block title %}
  Lineas de las Categorías Programáticas
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'formulacion:principal' %}">Formulación</a></li>
  <li class="breadcrumb-item"><a href="{% url 'formulacion:programas' %}">Categorías Programáticas</a></li>
  <li class="breadcrumb-item"><a href="#">Lineas de la Categoría</a></li>
{% endblock breadcrumb %}

{% block body %}
<div class="row">
  <!-- Light table -->
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col-6">
            <h3 class="mb-0">Lineas de la Categoría</h3>
          </div>
          <div class="col-6 text-right">
            <a id="btn_partidaNew" href="{% url 'formulacion:c_linea_programa' %}" 
            class="btn btn-sm btn-primary">
              Crear Linea de la Categoría
            </a>
          </div>
        </div>
      </div>
      <!-- Light table -->
      <div class="table-responsive" emblen-toggle="list" data-list-values='["programa"]'>
        <table class="table align-items-center table-hover" >
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort text-center">Codigo</th>
              <th scope="col" class="sort text-center" data-sort="programa">Categoría Programática</th>
              {% if perms.formulacion.delete_lineaprograma %}
              <th scope="col" class="text-center" style="width:5%;"><i class="fas fa-cogs"></i></th>
              {% endif %}
            </tr>
          </thead>
          <tbody class="list">
            {% for linea in page_obj %}
              <tr>
                <th scope="row" class="nivel text-center">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <a href="{% url 'formulacion:v_linea_programa' linea.id %}">
                        <span class="mb-0 text-sm">{{ linea.codigo }}</span>
                      </a>
                    </div>
                  </div>
                </th>
                <th class="text-center programa">
                  <a href="{% url 'formulacion:v_programa' linea.programa.id %}">
                    {{ linea.programa.codigo }}
                  </a>
                </th>
                {% if perms.formulacion.delete_lineaespecifica %}
                <td class="text-right">
                  <a href="{% url 'formulacion:e_linea_programa' linea.id %}"
                  class="btn btn-sm btn-default">
                    Eliminar
                  </a>
                </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Card footer -->
      {% include 'base/_paginador.html' %}  
    </div>
  </div>
</div>
{% endblock body %}