
<!-- Modulos Disponibles en el Menú -->
<h6 class="navbar-heading pl-4 text-muted">
  <span class="docs-normal">Modulos</span>
</h6>
<li class="nav-item">
  <a class="nav-link" href="#">
    <i class="ni ni-spaceship"></i>
    <span class="nav-link-text">Formulación</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">
    <i class="ni ni-ui-04"></i>
    <span class="nav-link-text">Planificación</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">
    <i class="ni ni-chart-pie-35"></i>
    <span class="nav-link-text">Tesoreria</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link active active-pro" href="#" target="_blank">
    <i class="ni ni-send text-primary"></i>
    <span class="nav-link-text">Contabilidad</span>
  </a>
</li>

<!-- División -->
<hr class="my-3">

<!-- Opciones del Menú -->
<li class="nav-item">
  <a class="nav-link active" href="#navbar-dashboards" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
    <i class="ni ni-shop text-primary"></i>
    <span class="nav-link-text">Dashboards</span>
  </a>
  <div class="collapse show" id="navbar-dashboards">
    <ul class="nav nav-sm flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="sidenav-mini-icon"> D </span>
          <span class="sidenav-normal"> Dashboard </span>
        </a>
      </li>
    </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="#navbar-examples" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-examples">
    <i class="ni ni-ungroup text-orange"></i>
    <span class="nav-link-text">Examples</span>
  </a>
  <div class="collapse" id="navbar-examples">
    <ul class="nav nav-sm flex-column">
      <li class="nav-item">
        <a href="../../pages/examples/login.html" class="nav-link">
          <span class="sidenav-mini-icon"> L </span>
          <span class="sidenav-normal"> Login </span>
        </a>
      </li>
      <li class="nav-item">
        <a href="../../pages/examples/register.html" class="nav-link">
          <span class="sidenav-mini-icon"> R </span>
          <span class="sidenav-normal"> Register </span>
        </a>
      </li>
      <li class="nav-item">
        <a href="../../pages/examples/profile.html" class="nav-link">
          <span class="sidenav-mini-icon"> P </span>
          <span class="sidenav-normal"> Profile </span>
        </a>
      </li>
    </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="#navbar-tables" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-tables">
    <i class="ni ni-align-left-2 text-default"></i>
    <span class="nav-link-text">Tables</span>
  </a>
  <div class="collapse" id="navbar-tables">
    <ul class="nav nav-sm flex-column">
      <li class="nav-item">
        <a href="../../pages/tables/tables.html" class="nav-link">
          <span class="sidenav-mini-icon"> T </span>
          <span class="sidenav-normal"> Tables </span>
        </a>
      </li>
    </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="#navbar-maps" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-maps">
    <i class="ni ni-map-big text-primary"></i>
    <span class="nav-link-text">Maps</span>
  </a>
  <div class="collapse" id="navbar-maps">
    <ul class="nav nav-sm flex-column">
      <li class="nav-item">
        <a href="../../pages/maps/google.html" class="nav-link">
          <span class="sidenav-mini-icon"> G </span>
          <span class="sidenav-normal"> Google </span>
        </a>
      </li>
    </ul>
  </div>
</li>