{% extends 'base/base.html' %}

{% load static %}

{% block title %}
  Partidas Presupuestarias
{% endblock title %}

{% block menu %}
  {% include 'formulacion/menu.html' %}  
{% endblock menu %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'formulacion:principal' %}">Formulación</a></li>
  <li class="breadcrumb-item"><a href="#">Partidas Presupuestarias</a></li>
{% endblock breadcrumb %}

{% block body %}
<div class="row">
  <!-- Light table -->
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col-6">
            <h3 class="mb-0">Partidas Presupuestarias</h3>
          </div>
          <div class="col-6 text-right">
            <a id="btn_partidaNew" href="{% url 'formulacion:c_partida' %}" class="btn btn-sm btn-primary">
              Nueva
            </a>
          </div>
        </div>
      </div>
      <!-- Light table -->
      <div class="table-responsive" id="tablaPartidas">
        <table class="table align-items-center table-hover" > <!-- table-bordered -->
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort text-center" style="width: 5%;" data-sort="nivel">Nivel</th>
              <th scope="col" class="sort text-center" style="width: 20%;" data-sort="cuenta">Cuenta</th>
              <th scope="col" class="sort text-center" style="width: 45%;" data-sort="descripcion">Descripción</th>
              <th scope="col" class="sort text-center " style="width: 25%;" data-sort="saldo">Saldo</th>
              {% if perms.formulacion.delete_partida %}
              <th scope="col" class="text-center" style="width: 5%;" ><i class="fas fa-cogs"></i></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for partida in page_obj %}
              <tr>
                <th scope="row" class="nivel text-center">
                  {{ partida.nivel }}
                </th>
                <td class="cuenta text-center">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <a href="{% url 'formulacion:v_partida' partida.id %}">
                        <span class="name mb-0 text-sm">{{ partida.cuenta }}</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td class="descripcion text-center">
                  {{ partida.descripcion }}
                </td>
                <td class="saldo text-center"> 
                  {{ partida.saldo|floatformat:2 }}
                </td>
                {% if perms.formulacion.delete_partida %}
                <td class="text-right">
                  <a href="{% url 'formulacion:e_partida' partida.id %}" class="btn btn-sm btn-default">
                    Eliminar
                  </a>
                </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Card footer -->
      {% include 'base/_paginador.html' %}
    </div>
  </div>
</div>
{% endblock body %}