{% extends 'base/base.html' %}

{% load widget_tweaks %}

{% block menu %}
  {% include 'formulacion/menu.html' %}  
{% endblock menu %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="/formulacion"><i class="fas fa-home"></i></a></li>
  <li class="breadcrumb-item"><a href="/formulacion">Formulación</a></li>
  <li class="breadcrumb-item"><a href="#">Modificación de Partida</a></li>
{% endblock breadcrumb %}

{% block body %}
<div class="row">
  <!-- Light table -->
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <h3 class="mb-0">Partida Presupuestaria: {{partida.cuenta}}</h3>
      </div>

      <!-- Light table -->
      <div class="table-responsive" id="tablaPartidas">
        <table class="table align-items-center table-flush table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort" style="width: 5%;" data-sort="nivel">Nivel</th>
              <th scope="col" class="sort" style="width: 20%;" data-sort="cuenta">Cuenta</th>
              <th scope="col" class="sort" style="width: 45%;" data-sort="descripcion">Descripción</th>
              <th scope="col" class="sort " style="width: 25%;" data-sort="saldo">Saldo</th>
              <th scope="col" class="" style="width: 5%;" ></th>
            </tr>
          </thead>
          <tbody id="partidaNew2">

          </tbody>
          <tbody class="list" id="partidaNew" >
         
            <form class="validate-form" method="POST">
              {% csrf_token %}

              <tr id="partidaNew3" class="">
                <td class="nivel">
                  {% render_field form.nivel class="form-control form-control-alternative" %}
                </td>
                <th class="cuenta">
                    {% render_field form.cuenta class="form-control form-control-alternative" placeholder="Partida" %}
                </th>
                <td class="descripcion">
                    {% render_field form.descripcion class="form-control form-control-alternative" placeholder="Descripción de Partida" %}
                </td>
                <td class="saldo">
                    {% render_field form.saldo class="form-control form-control-alternative" placeholder="Saldo" %}
                </td>
                <td class="">
                  <div class="text-center">
                    <button type="submit" href="#" class="btn btn-sm btn-primary">Guardar</button>
                    <a href="../../formulacion/partidas" class="btn btn-sm btn-primary">Cancelar</a>
                  </div>
                </td>
              </tr>



          </form>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

{% endblock body %}