{% extends 'formulacion/_base.html' %}

{% load static %}

{% block title %}
  Lista de Programas
{% endblock title %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'formulacion:principal' %}">Formulación</a></li>
  <li class="breadcrumb-item"><a href="#">Programas</a></li>
{% endblock breadcrumb %}

{% block body %}
<div class="row">
  <!-- Light table -->
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col-6">
            <h3 class="mb-0">Programas</h3>
          </div>
          <div class="col-6 text-right">
            <a id="btn_partidaNew" href="{% url 'formulacion:c_programa' %}" 
            class="btn btn-sm btn-primary">
              Crear Programa
            </a>
          </div>
        </div>
      </div>
      <!-- Light table -->
      <div class="table-responsive" id="tablaPartidas">
        <table class="table align-items-center table-hover" >
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort text-center">Codigo</th>
              <th scope="col" class="sort text-center">Departamento Responsable</th>
              <th scope="col" class="sort text-center ">Fecha de Inicio</th>
              <th scope="col" class="sort text-center">Fecha de Fin</th>
              {% if perms.formulacion.delete_programa %}
              <th scope="col" class="text-center" style="width:5%;"><i class="fas fa-cogs"></i></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for programa in page_obj %}
              <tr>
                <th scope="row" class="nivel text-center">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <a href="{% url 'formulacion:v_programa' programa.id %}">
                        <span class="name mb-0 text-sm">{{ programa.codigo }}</span>
                      </a>
                    </div>
                  </div>
                </th>
                <td class="text-center">
                  {{ programa.responsable }}
                </td>
                <td class="text-center">
                  {{ programa.inicio }}
                </td>
                <td class="text-center"> 
                  {{ programa.fin }}
                </td>
                {% if perms.formulacion.delete_programa %}
                <td class="text-right">
                  <a href="{% url 'formulacion:e_programa' programa.id %}"
                  class="btn btn-sm btn-default">
                    Eliminar
                  </a>
                </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Card footer -->
      {% include 'base/_paginador.html' %}  
    </div>
  </div>
</div>
{% endblock body %}