{% extends 'base/base.html' %}

{% load static %}

{% block title %}
  Lista de Unidades Ejecutoras
{% endblock title %}

{% block menu %}
  {% include 'formulacion/menu.html' %}  
{% endblock menu %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'formulacion:principal' %}">
      <i class="fas fa-home"></i>
    </a>
  </li>
  <li class="breadcrumb-item"><a href="{% url 'formulacion:principal' %}">Formulación</a></li>
  <li class="breadcrumb-item"><a href="#">Unidades Ejecutoras</a></li>
{% endblock breadcrumb %}

{% block body %}
<div class="row">
  <!-- Light table -->
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col-6">
            <h3 class="mb-0">Unidades Ejecutoras</h3>
          </div>
          <div class="col-6 text-right">
            <a id="btn_partidaNew" href="{% url 'formulacion:c_unidad_ejecutora' %}" 
            class="btn btn-sm btn-primary">
              Crear Unidad Ejecutora
            </a>
          </div>
        </div>
      </div>
      <!-- Light table -->
      <div class="table-responsive" id="tablaPartidas">
        <table class="table align-items-center table-hover" >
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort text-center" data-sort="nombre">
                Nombre
              </th>
              <th scope="col" class="sort text-center" data-sort="dependencia">Dependencia</th>
              <th scope="col" class="sort text-center" data-sort="unidad_ejecutora">
                Adscrito a
              </th>
              <th scope="col" class="sort text-center " data-sort="codigo">Codigo</th>
              <th scope="col" class="text-center" style="width: 5%;" ><i class="fas fa-cogs"></i></th>
            </tr>
          </thead>
          <tbody>
            {% for unidad in page_obj %}
              <tr>
                <th scope="row" class="nivel text-center">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <a href="{% url 'formulacion:v_unidad_ejecutora' unidad.id %}">
                        <span class="name mb-0 text-sm">{{ unidad.nombre }}</span>
                      </a>
                    </div>
                  </div>
                </th>
                <td class="cuenta text-center">
                  {{ unidad.dependencia }}
                </td>
                <td class="descripcion text-center">
                  {{ unidad.adscrito }}
                </td>
                <td class="saldo text-center"> 
                  {{ unidad.codigo }}
                </td>
                <td class="text-right">
                  <a href="{% url 'formulacion:e_unidad_ejecutora' unidad.id %}" 
                  class="btn btn-sm btn-default">
                    Eliminar
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Card footer -->
      {% include 'base/_paginador.html' %}  
    </div>
  </div>
</div>
{% endblock body %}