{% load static %}

<!-- Modulos Disponibles en el Menú -->
<li class="nav-item">
  <a class="nav-link" href="{% url 'formulacion:principal' %}" id="m_formulacion">
    <i class="fas fa-scroll"></i>
    <span class="nav-link-text">Formulación</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">
    <i class="fas fa-columns"></i>
    <span class="nav-link-text">Planificación</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">
    <i class="fas fa-sign-in-alt"></i>
    <span class="nav-link-text">Ejecución</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">
    <i class="fas fa-money-bill-wave"></i>
    <span class="nav-link-text">Tesoreria</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link " href="#">
    <i class="fas fa-book"></i>
    <span class="nav-link-text">Contabilidad</span>
  </a>
</li>

<!-- División -->
<hr class="my-3">

{% block options %}{% endblock options %}

<!-- Logo Organismo -->
<div class="logo mr-5 navbar-brand-img image-organizacion" style='background-color:#ffffff; margin-left: 15px; bottom: 10px; position: fixed; '>
  <img src="{% static 'global/images/invialca.png' %}" alt="Logo Organización" width="200px" class="navbar-brand-img">
</div>
<!-- Logo Organismo -->