{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'global/css/bootstrap/bootstrap.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'global/css/report.css' %}" type="text/css">
        {% block head %}{% endblock head %}
    </head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="page col">
                <div class="container-fluid pt-2 pt-md-4 px-md-5">  
                    <div class="header-report">
                        <div class="row">
                            <div class="col-3 text-center mb-3 mb-md-0" style="font-size: 8px; font-weight: bold;">
                                <img class="logo img-fluid mb-1 mt-1" src="{% static 'global/images/invialca.png' %}" style="max-height:40px;"/><br>
                                INSTITUTO AUTÓNOMO PARA LA ADMINISTRACIÓN, MANTENIMIENTO Y CONSERVACIÓN DE LA VIALIDAD.<br>
                                CARABOBO TE QUIERO
                            </div>
                            <div class="col text-center pt-4">
                                <span class="title">{% block rtitle %}{% endblock rtitle %}</span><br>
                                <span class="subtitle">{% block subtitle %}{% endblock subtitle %}</span>
                            </div>
                            <div class="col-3 text-center text-md-right pt-4">
                                Fecha: {% now "d/m/Y" %}<br>
                                Hora: {% now "P" %}
                            </div>
                        </div>
                        <br><br> <!-- Separator -->
                    </div>

                    {% block body %}{% endblock body %}

                    <br><!-- Final -->
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'global/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'global/js/emblenNotModule.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            let sumas = {};
            let total_general = 0;
            $('.suma-monto').each(function(){
                if (sumas[$(this).attr("suma-id")]) {
                    sumas[$(this).attr("suma-id")] = Math.round(((sumas[$(this).attr("suma-id")] + parseFloat($(this).text())) + Number.EPSILON) * 100) / 100;
                }else{
                    sumas[$(this).attr("suma-id")] = parseFloat($(this).text());
                }
            });

            for (let key in sumas) {
              total_general = total_general + sumas[key];
              $(`#suma-id-${key}`).text(sumas[key]);
              $(`#suma-id-${key}`).text( parseFloat($(`#suma-id-${key}`).text()).toFixed(2)  );
            }

            $('.monto').each(function(){
                $(this).text(textToCurrency($(this).text().replace(",", ".")));
            });

            $(`#total-general`).text(total_general);
            $(`#total-general`).text( textToCurrency( parseFloat($(`#total-general`).text()).toFixed(2) ) );
            
        });
    </script>
    {% block script %}{% endblock script %}
</body>