{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Creditos Presupuestarios Asignados</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'global/css/bootstrap/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'global/css/report.css' %}" type="text/css">
    <style>
        #fixedButton {
            position: fixed;
            top: 30px;
            left: 30px; 
        }
    </style>
</head>
<body>
    <button type="button" onClick="window.print();" class="btn btn-primary" id="fixedButton">Imprimir</button>
    <div class="container-fluid">
        <div class="row">
            <div class="page col">
                <div class="container-fluid pt-2 pt-md-4 px-md-5">  
                    <div class="header-report">
                        <div class="row">
                            <div class="col-3 text-center mb-3 mb-md-0" style="font-size: 9px; font-weight: bold;">
                                <img class="logo img-fluid mb-1" src="../../static/global/images/escudo-gris.png" style="max-height:50px;"/><br>
                                Republica Bolivariana de Venezuela<br>
                                Gobernación del Estado Carabobo
                            </div>
                            <div class="col text-center pt-4">
                                <span class="title">Creditos Presupuestarios Asignados</span><br>
                                <span class="subtitle">Presupuesto de Gastos 2021</span>
                            </div>
                            <div class="col-3 text-center text-md-right pt-4">
                                Fecha: 18/01/2021<br>
                                Hora: 2:14 PM
                            </div>
                        </div>
                        <br><br> <!-- Separator -->
                    </div>
                    
                    <div class="group-report">
                        <!-- Proyecto -->
                        <div class="row">
                            <div class="col">
                                <table class="table">
                                    <tbody class="project">
                                        <tr>
                                            <td><strong>Sector</strong></td>
                                            <td><strong>07</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Dependencia</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Tipo</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Proyecto</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap"><strong>Acción Especifica</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap"><strong>Centro de Costo</strong></td>
                                            <td><strong>634001</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Especifica -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="align-middle text-center">Part</th>
                                <th class="align-middle text-center">Gen</th>
                                <th class="align-middle text-center">Esp</th>
                                <th class="align-middle text-center">Sub</th>
                                <th class="align-middle text-center">Aux</th>
                                <th class="align-middle text-center">Descripción de la Partida</th>
                                <th class="align-middle text-center">Acción Interna</th>
                                <th class="align-middle text-center">Fuente Fin</th>
                                <th class="align-middle text-center">Descripción de la Acción Interna</th>
                                <th class="align-middle text-center">Monto Asignado</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>403</td>
                                    <td>12</td>
                                    <td>02</td>
                                    <td>00</td>
                                    <td>000</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td>1070001</td>
                                    <td>RP</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                                </tr>
                                <tr>
                                    <td>403</td>
                                    <td>12</td>
                                    <td>02</td>
                                    <td>00</td>
                                    <td>000</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td>1070001</td>
                                    <td>RP</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr><!-- Divider -->
                    <div class="group-report">
                        <!-- Proyecto -->
                        <div class="row">
                            <div class="col">
                                <table class="table">
                                    <tbody class="project">
                                        <tr>
                                            <td><strong>Sector</strong></td>
                                            <td><strong>07</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Dependencia</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Tipo</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Proyecto</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap"><strong>Acción Especifica</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap"><strong>Centro de Costo</strong></td>
                                            <td><strong>634001</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Especifica -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="align-middle text-center">Part</th>
                                <th class="align-middle text-center">Gen</th>
                                <th class="align-middle text-center">Esp</th>
                                <th class="align-middle text-center">Sub</th>
                                <th class="align-middle text-center">Aux</th>
                                <th class="align-middle text-center">Descripción de la Partida</th>
                                <th class="align-middle text-center">Acción Interna</th>
                                <th class="align-middle text-center">Fuente Fin</th>
                                <th class="align-middle text-center">Descripción de la Acción Interna</th>
                                <th class="align-middle text-center">Monto Asignado</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>403</td>
                                    <td>12</td>
                                    <td>02</td>
                                    <td>00</td>
                                    <td>000</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td>1070001</td>
                                    <td>RP</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                                </tr>
                                <tr>
                                    <td>403</td>
                                    <td>12</td>
                                    <td>02</td>
                                    <td>00</td>
                                    <td>000</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td>1070001</td>
                                    <td>RP</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr><!-- Divider -->
                    <div class="group-report">
                        <!-- Proyecto -->
                        <div class="row">
                            <div class="col">
                                <table class="table">
                                    <tbody class="project">
                                        <tr>
                                            <td><strong>Sector</strong></td>
                                            <td><strong>07</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Dependencia</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Tipo</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Proyecto</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap"><strong>Acción Especifica</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap"><strong>Centro de Costo</strong></td>
                                            <td><strong>634001</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Especifica -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="align-middle text-center">Part</th>
                                <th class="align-middle text-center">Gen</th>
                                <th class="align-middle text-center">Esp</th>
                                <th class="align-middle text-center">Sub</th>
                                <th class="align-middle text-center">Aux</th>
                                <th class="align-middle text-center">Descripción de la Partida</th>
                                <th class="align-middle text-center">Acción Interna</th>
                                <th class="align-middle text-center">Fuente Fin</th>
                                <th class="align-middle text-center">Descripción de la Acción Interna</th>
                                <th class="align-middle text-center">Monto Asignado</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>403</td>
                                    <td>12</td>
                                    <td>02</td>
                                    <td>00</td>
                                    <td>000</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td>1070001</td>
                                    <td>RP</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                                </tr>
                                <tr>
                                    <td>403</td>
                                    <td>12</td>
                                    <td>02</td>
                                    <td>00</td>
                                    <td>000</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td>1070001</td>
                                    <td>RP</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr><!-- Divider -->
                    <div class="group-report">
                        <!-- Proyecto -->
                        <div class="row">
                            <div class="col">
                                <table class="table">
                                    <tbody class="project">
                                        <tr>
                                            <td><strong>Sector</strong></td>
                                            <td><strong>07</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Dependencia</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Tipo</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Proyecto</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap"><strong>Acción Especifica</strong></td>
                                            <td><strong>01</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap"><strong>Centro de Costo</strong></td>
                                            <td><strong>634001</strong></td>
                                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Especifica -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="align-middle text-center">Part</th>
                                <th class="align-middle text-center">Gen</th>
                                <th class="align-middle text-center">Esp</th>
                                <th class="align-middle text-center">Sub</th>
                                <th class="align-middle text-center">Aux</th>
                                <th class="align-middle text-center">Descripción de la Partida</th>
                                <th class="align-middle text-center">Acción Interna</th>
                                <th class="align-middle text-center">Fuente Fin</th>
                                <th class="align-middle text-center">Descripción de la Acción Interna</th>
                                <th class="align-middle text-center">Monto Asignado</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>403</td>
                                    <td>12</td>
                                    <td>02</td>
                                    <td>00</td>
                                    <td>000</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td>1070001</td>
                                    <td>RP</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                                </tr>
                                <tr>
                                    <td>403</td>
                                    <td>12</td>
                                    <td>02</td>
                                    <td>00</td>
                                    <td>000</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td>1070001</td>
                                    <td>RP</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                                </tr>
                                <tr>
                                    <td>403</td>
                                    <td>12</td>
                                    <td>02</td>
                                    <td>00</td>
                                    <td>000</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td>1070001</td>
                                    <td>RP</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                                </tr>
                                <tr>
                                    <td>403</td>
                                    <td>12</td>
                                    <td>02</td>
                                    <td>00</td>
                                    <td>000</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td>1070001</td>
                                    <td>RP</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                                </tr>
                                <tr>
                                    <td>403</td>
                                    <td>12</td>
                                    <td>02</td>
                                    <td>00</td>
                                    <td>000</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td>1070001</td>
                                    <td>RP</td>
                                    <td class="text-justify">
                                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                                    </td>
                                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br><!-- Final -->
                </div>
            </div>
        </div>
    </div>
</body>