{% extends 'base/base.html' %}

{% load static %}

{% block title %}
  Reporte - {% block reporte_title %}{% endblock reporte_title %}
{% endblock title %}

{% block head %}
  <style type="text/css">
    .form-control[readonly] {
      background-color: white;
    }
  </style>
{% endblock head %}

{% block body %}
  <div class="card">
    <div class="card-header">
      {% block reporte_header %}{% endblock reporte_header %}
    </div>
    <div class="card-body">
      {% block reporte_body %}{% endblock reporte_body %}
    </div>
    <div class="card-footer">
      {% block reporte_footer %}{% endblock reporte_footer %}
    </div>
  </div>
{% endblock body %}