{% extends 'contabilidad/_base.html' %}

{% load widget_tweaks %}

{% block title %}
  Módulo de Contabilidad
{% endblock title %}



{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="#">Contabilidad</a></li>
{% endblock breadcrumb %}

{% block info_cards %}
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Plan Único</h5>
            <span class="h2 font-weight-bold mb-0">700 Cuentas</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
              <i class="ni ni-active-40"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 600</span>
          <span class="text-nowrap">Activas</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Comprobantes</h5>
            <span class="h2 font-weight-bold mb-0">100.000</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
              <i class="ni ni-chart-pie-35"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 10.000 </span>
          <span class="text-nowrap">En el Mes {% now "m" %}</span>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Comprobantes</h5>
            <span class="h2 font-weight-bold mb-0">10</span> Reclasificados
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
              <i class="ni ni-chart-bar-32"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 1%</span>
          <span class="text-nowrap">del Total</span>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Último Cierre</h5>
            <span class="h2 font-weight-bold mb-0">Mes Enero</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
              <i class="ni ni-money-coins"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> Fecha </span>
          <span class="text-nowrap">{% now "SHORT_DATETIME_FORMAT" %}</span>
        </p>
      </div>
    </div>
  </div>
{% endblock info_cards %}

{% block body %}
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <!-- Light table -->
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Actividades Recientes en Contabilidad</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Acción</th>
                  <th scope="col" class="sort" data-sort="budget">Fecha</th>
                  <th scope="col" class="sort" data-sort="status">Estatus</th>
                  <th scope="col">Usuario</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm">Último comprobante creado: Nº 2021000100000 - Descripción</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    {% now "SHORT_DATETIME_FORMAT" %}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i>
                      <span class="status">Activa</span>
                    </span>
                  </td>
                  <td>
                    ADMIN - PRESIDENTE
                  </td>
                </tr>

                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm">Último comprobante Reclasificado: Nº 2021000100000 - Descripción</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    {% now "SHORT_DATETIME_FORMAT" %}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i>
                      <span class="status">Activa</span>
                    </span>
                  </td>
                  <td>
                    ADMIN - PRESIDENTE
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock body %}