{% extends 'base/reporte-base.html' %}

{% block title %}
    {% block rtitle %}
        Creditos Presupuestarios Asignados    
    {% endblock rtitle %}
{% endblock title %}

{% block subtitle %}
    Presupuesto de Gastos 2021
{% endblock subtitle %}

{% block body %}
    <div class="group-report">
        <!-- Proyecto -->
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody class="project">
                        <tr>
                            <td><strong>Sector</strong></td>
                            <td><strong>07</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Dependencia</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Tipo</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Proyecto</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap"><strong>Acción Especifica</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap"><strong>Centro de Costo</strong></td>
                            <td><strong>634001</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Especifica -->
        <table class="table">
            <thead>
            <tr>
                <th class="align-middle text-center">Part</th>
                <th class="align-middle text-center">Gen</th>
                <th class="align-middle text-center">Esp</th>
                <th class="align-middle text-center">Sub</th>
                <th class="align-middle text-center">Aux</th>
                <th class="align-middle text-center">Descripción de la Partida</th>
                <th class="align-middle text-center">Acción Interna</th>
                <th class="align-middle text-center">Fuente Fin</th>
                <th class="align-middle text-center">Descripción de la Acción Interna</th>
                <th class="align-middle text-center">Monto Asignado</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>403</td>
                    <td>12</td>
                    <td>02</td>
                    <td>00</td>
                    <td>000</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td>1070001</td>
                    <td>RP</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                </tr>
                <tr>
                    <td>403</td>
                    <td>12</td>
                    <td>02</td>
                    <td>00</td>
                    <td>000</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td>1070001</td>
                    <td>RP</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr><!-- Divider -->
    <div class="group-report">
        <!-- Proyecto -->
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody class="project">
                        <tr>
                            <td><strong>Sector</strong></td>
                            <td><strong>07</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Dependencia</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Tipo</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Proyecto</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap"><strong>Acción Especifica</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap"><strong>Centro de Costo</strong></td>
                            <td><strong>634001</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Especifica -->
        <table class="table">
            <thead>
            <tr>
                <th class="align-middle text-center">Part</th>
                <th class="align-middle text-center">Gen</th>
                <th class="align-middle text-center">Esp</th>
                <th class="align-middle text-center">Sub</th>
                <th class="align-middle text-center">Aux</th>
                <th class="align-middle text-center">Descripción de la Partida</th>
                <th class="align-middle text-center">Acción Interna</th>
                <th class="align-middle text-center">Fuente Fin</th>
                <th class="align-middle text-center">Descripción de la Acción Interna</th>
                <th class="align-middle text-center">Monto Asignado</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>403</td>
                    <td>12</td>
                    <td>02</td>
                    <td>00</td>
                    <td>000</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td>1070001</td>
                    <td>RP</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                </tr>
                <tr>
                    <td>403</td>
                    <td>12</td>
                    <td>02</td>
                    <td>00</td>
                    <td>000</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td>1070001</td>
                    <td>RP</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr><!-- Divider -->
    <div class="group-report">
        <!-- Proyecto -->
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody class="project">
                        <tr>
                            <td><strong>Sector</strong></td>
                            <td><strong>07</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Dependencia</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Tipo</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Proyecto</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap"><strong>Acción Especifica</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap"><strong>Centro de Costo</strong></td>
                            <td><strong>634001</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Especifica -->
        <table class="table">
            <thead>
            <tr>
                <th class="align-middle text-center">Part</th>
                <th class="align-middle text-center">Gen</th>
                <th class="align-middle text-center">Esp</th>
                <th class="align-middle text-center">Sub</th>
                <th class="align-middle text-center">Aux</th>
                <th class="align-middle text-center">Descripción de la Partida</th>
                <th class="align-middle text-center">Acción Interna</th>
                <th class="align-middle text-center">Fuente Fin</th>
                <th class="align-middle text-center">Descripción de la Acción Interna</th>
                <th class="align-middle text-center">Monto Asignado</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>403</td>
                    <td>12</td>
                    <td>02</td>
                    <td>00</td>
                    <td>000</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td>1070001</td>
                    <td>RP</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                </tr>
                <tr>
                    <td>403</td>
                    <td>12</td>
                    <td>02</td>
                    <td>00</td>
                    <td>000</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td>1070001</td>
                    <td>RP</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr><!-- Divider -->
    <div class="group-report">
        <!-- Proyecto -->
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody class="project">
                        <tr>
                            <td><strong>Sector</strong></td>
                            <td><strong>07</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Dependencia</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Tipo</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td><strong>Proyecto</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap"><strong>Acción Especifica</strong></td>
                            <td><strong>01</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap"><strong>Centro de Costo</strong></td>
                            <td><strong>634001</strong></td>
                            <td>Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/M</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Especifica -->
        <table class="table">
            <thead>
            <tr>
                <th class="align-middle text-center">Part</th>
                <th class="align-middle text-center">Gen</th>
                <th class="align-middle text-center">Esp</th>
                <th class="align-middle text-center">Sub</th>
                <th class="align-middle text-center">Aux</th>
                <th class="align-middle text-center">Descripción de la Partida</th>
                <th class="align-middle text-center">Acción Interna</th>
                <th class="align-middle text-center">Fuente Fin</th>
                <th class="align-middle text-center">Descripción de la Acción Interna</th>
                <th class="align-middle text-center">Monto Asignado</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>403</td>
                    <td>12</td>
                    <td>02</td>
                    <td>00</td>
                    <td>000</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td>1070001</td>
                    <td>RP</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                </tr>
                <tr>
                    <td>403</td>
                    <td>12</td>
                    <td>02</td>
                    <td>00</td>
                    <td>000</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td>1070001</td>
                    <td>RP</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                </tr>
                <tr>
                    <td>403</td>
                    <td>12</td>
                    <td>02</td>
                    <td>00</td>
                    <td>000</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td>1070001</td>
                    <td>RP</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                </tr>
                <tr>
                    <td>403</td>
                    <td>12</td>
                    <td>02</td>
                    <td>00</td>
                    <td>000</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td>1070001</td>
                    <td>RP</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                </tr>
                <tr>
                    <td>403</td>
                    <td>12</td>
                    <td>02</td>
                    <td>00</td>
                    <td>000</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td>1070001</td>
                    <td>RP</td>
                    <td class="text-justify">
                        Pursuit Running Shoes, Men's Pursuit Running Shoes - 10/M, Men's Shelby Leather Boots - 10/MPursuit Running Shoes, Men's Pursuit Running Shoes
                    </td>
                    <td class="text-right text-nowrap">Bs 129.154.182,25</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock body %}