
<!-- Modulos Disponibles en el Menú -->
<h6 class="navbar-heading pl-4 text-muted">
  <span class="docs-normal">Modulos</span>
</h6>
<li class="nav-item">
  <a class="nav-link active active-pro" href="/formulacion">
    <!-- <i class="fas fa-flask text-primary"></i> -->
    <i class="fas fa-atom text-primary"></i>
    <span class="nav-link-text">Formulación</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">
    <i class="ni ni-ui-04"></i>
    <span class="nav-link-text">Planificación</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">
    <i class="ni ni-chart-pie-35"></i>
    <span class="nav-link-text">Tesoreria</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link " href="#">
    <i class="ni ni-send"></i>
    <span class="nav-link-text">Contabilidad</span>
  </a>
</li>

<!-- División -->
<hr class="my-3">