{% extends 'planificacion/_base.html' %}

{% load widget_tweaks %}

{% block title %}
    Creación de Accion Interna
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="#">
            Acciones Internas
        </a>
    </li>
    <li class="breadcrumb-item"><a href="#">Creación de Modificación</a></li>
{% endblock breadcrumb %}

{% block body %}
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-8">
            <h3 class="mb-0">Crear Nuevo Modificación</h3>
        </div>
        <div class="col-4 text-right">
          <a href="#" class="btn btn-sm btn-primary" id="saveForm">
            Guardar
          </a>
          <button onclick="goBack();" class="btn btn-sm btn-default">
            Cancelar
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h6 class="heading-small text-muted mb-4">Detalles</h6>
      <div class="pl-lg-4">
        {% include 'base/_form_error.html' %}
        <div class="row">
        </div>
        <form method="POST" action="." id="form">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Tipo de Modificación</label>
                {% render_field form.tipo_modificacion  data-toggle="select" class="form-control" type="text" %}
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Cuenta a Afectar</label>
                {% render_field form.partida_accioninterna data-toggle="select" class="form-control" %}
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Monto de la Afecatción</label>
                {% render_field form.monto placeholder="Ingrese Monto" class="form-control inputCurrency" type="text" %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Descripción</label>
                {% render_field form.descripcion class="form-control" rows="5" placeholder="Ingrese Descripción..." %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock body %}

{% block script %}
    <script type="text/javascript">
        $('#saveForm').on('click', function() {
            $("#form").submit();
        });
    </script>
{% endblock script %}