{% extends 'base/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}
  Emblen - Principal
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'usuarios:principal' %}"> Principal</a></li>
{% endblock breadcrumb %}

{% block menu %}
  {% include 'usuarios/menu.html' %}
{% endblock menu %}

{% block body %}
  <div class="card">
    <div class="col bg-white pt-5 pb-5 mt-5 mb-5" style="border-radius: 20px;">
      <img src="{% static 'global/images/invialca.png' %}" alt="Logo Organización" class="img-fluid">
    </div>
  </div>
{% endblock body %}